<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Visualization</title>
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

        <link rel="stylesheet" href="../assets/css/style.css">
    </head>

    <body>
        <div class="wrap">
            <!-- Navigation -->
            <header id="header" class="d-flex align-items-center">
                <div class="container d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <h1 class="text-light"><a href="https://github.com/aimeevu/group-7-project-4"><span>Group 7</span></a></h1>
                    </div>
                
                    <nav id="navbar" class="navbar">
                        <ul>
                            <li><a href="index.html#about" class="nav-link">About</a></li>
                            <li><a href="index.html#process" class="nav-link">Our Process</a></li>
                            <li class="dropdown"><a href="index.html#visualizations"><span>Visualizations</span><i class="bi bi-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#visual-details">Visual 1</a></li>
                                    <li><a href="#visual-details-2">Visual 2</a></li>
                                    <li><a href="#visual-details-3">Visual 3</a></li>
                                    <li><a href="#visual-details-4">Visual 4</a></li>
                                    <li><a href="#visual-details-5">Visual 5</a></li>
                                    <li><a href="#visual-details-6">Visual 6</a></li>
                                </ul>
                            </li>
                            <li><a href="index.html#calculator" class="nav-link">Price Calculator</a></li>
                            <li><a href="data.html">Data</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <!-- Breadcrumbs Section -->
            <section id="breadcrumbs" class="breadcrumbs">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2><a href="visual.html">Visualizations</a></h2>
                        <ol>
                            <li><a href="index.html">Home</a></li>
                            <li>Visualizations</li>
                        </ol>
                    </div>
                </div>
            </section>

            <!-- Visualization Details Section -->
            <section id="visual-details" class="visual-details">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-8">
                            <a href="../Tab WB images/Viz 1.png"><img src="../Tab WB images/Viz 1.png" alt=""></a>
                        </div>

                        <div class="col-lg-4">
                            <div class="visual-info">
                                <h3>Visualization 1 Information</h3>
                                <ul>
                                    <li><strong>Title</strong>: Total Revenue per Airline by Class</li>
                                    <li><strong>Data Source</strong>: Kaggle</li>
                                    <li><strong>Type</strong>: Bar Graph</li>
                                </ul>
                            </div>
                            <div class="visual-description">
                                <h2>Description</h2>
                                <p>Sum of Price for each Flight. Colors are displayed to show details about the two classes. This visualization represents the total revenue per airline and more-so broken down per class. With economy only averaging around 15 million per fiscal year and business class averaging around 45-47 million per year.</p>
                                <a href="visual.html#">Back to Top</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="visual-details-2" class="visual-details">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-8">
                            <a href="../Tab WB images/Viz 2.png"><img src="../Tab WB images/Viz 2.png" alt=""></a>
                        </div>

                        <div class="col-lg-4">
                            <div class="visual-info">
                                <h3>Visualization 2 Information</h3>
                                <ul>
                                    <li><strong>Title</strong>: Average Monthly Revenue per Airline</li>
                                    <li><strong>Data Source</strong>: Kaggle</li>
                                    <li><strong>Type</strong>: Bar Graph</li>
                                </ul>
                            </div>
                            <div class="visual-description">
                                <h2>Description</h2>
                                <p>Count of price for each airline broken down by class. Color shows details about each airline. Details are shown for flight and the data is filtered on median of price, which includes values less than or equal to 20,000 for monthly averages per airline.</p>
                                <a href="visual.html#">Back to Top</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="image" class="image">
                <div class="container">
                    <div class="text-center">
                        <h3>Travel the World</h3>
                    </div>
                </div>
            </section>

            <section id="visual-details-3" class="visual-details">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-8">
                            <a href="../Tab WB images/Viz 3.png"><img src="../Tab WB images/Viz 3.png" alt=""></a>
                        </div>

                        <div class="col-lg-4">
                            <div class="visual-info">
                                <h3>Visualization 3 Information</h3>
                                <ul>
                                    <li><strong>Title</strong>: Economy Class vs Business Class</li>
                                    <li><strong>Data Source</strong>: Kaggle</li>
                                    <li><strong>Type</strong>: Pie Chart</li>
                                </ul>
                            </div>
                            <div class="visual-description">
                                <h2>Description</h2>
                                <p>This visualization details are shown and broken down by flights and the per dollar amoutn for said flights that each class member takes. The data is filtered on count of <a href="../Resources/Clean_Dataset.csv">Clean_Dataset.csv</a>, which includes values less than or equal to 206,666. The view is filtered by class, flight, and lastly average price.</p>
                                <a href="visual.html#">Back to Top</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="visual-details-4" class="visual-details">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-8">
                            <a href="../Tab WB images/Viz 4.png"><img src="../Tab WB images/Viz 4.png" alt=""></a>
                        </div>

                        <div class="col-lg-4">
                            <div class="visual-info">
                                <h3>Visualization 4 Information</h3>
                                <ul>
                                    <li><strong>Title</strong>: Arrival vs Departure time in each city - Delhi</li>
                                    <li><strong>Data Source</strong>: Kaggle</li>
                                    <li><strong>Type</strong>: Pie Chart</li>
                                </ul>
                            </div>
                            <div class="visual-description">
                                <h2>Description</h2>
                                <p>Arrival and departure time has been filtered and broken down to cities that passengers on a regular basis. The data is filtered on destination city, which keeps 6 of 6 airlines.</p>
                                <a href="visual.html#">Back to Top</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="image-2" class="image-2">
                <div class="container">
                    <div class="text-center">
                        <h3>Life is a journey. Enjoy the flight.</h3>
                    </div>
                </div>
            </section>

            <section id="visual-details-5" class="visual-details">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-8">
                            <a href="../Tab WB images/Viz 5.png"><img src="../Tab WB images/Viz 5.png" alt=""></a>
                        </div>

                        <div class="col-lg-4">
                            <div class="visual-info">
                                <h3>Visualization 5 Information</h3>
                                <ul>
                                    <li><strong>Title</strong>: Average Sale Revenue per Airline for Econ Class</li>
                                    <li><strong>Data Source</strong>: Kaggle</li>
                                    <li><strong>Type</strong>: Stacked Bar Chart</li>
                                </ul>
                            </div>
                            <div class="visual-description">
                                <h2>Description</h2>
                                <p>In this visualization, we created a bin for an absolute median price for average sale per tickets for each airline economy class. The point for this investigation was to see the vast difference and/or trends compared to business class. The plot of average of price for price (bin) is broken down by date year. Color shows details about airline. Details are shown for date year.</p>
                                <a href="visual.html#">Back to Top</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="visual-details-6" class="visual-details">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-8">
                            <a href="../Tab WB images/Viz 6.png"><img src="../Tab WB images/Viz 6.png" alt=""></a>
                        </div>

                        <div class="col-lg-4">
                            <div class="visual-info">
                                <h3>Visualization 6 Information</h3>
                                <ul>
                                    <li><strong>Title</strong>: Average Price for Airline vs Stops per Class</li>
                                    <li><strong>Data Source</strong>: Kaggle</li>
                                    <li><strong>Type</strong>: Bar Graph</li>
                                </ul>
                            </div>
                            <div class="visual-description">
                                <h2>Visualization Description</h2>
                                <p>Average of price for each airline broken down by class and stops. Color shows details about airline. The data is filtered on flight to find a correlation on price affects the number of stops for 1,561 members. Looking at the data, there are different variables that can affect each class, however the trend and amount of revenue brought in from business class and economy class are applicable.</p>
                                <a href="visual.html#">Back to Top</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Footer Section -->
            <footer class="footer-top section-bg">
                <div class="container py-4">
                    <div class="copyright">
                      &copy; Copyright <strong><span>Plato</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                      <!-- All the links in the footer should remain intact. -->
                      <!-- You can delete the links only if you purchased the pro version. -->
                      <!-- Licensing information: https://bootstrapmade.com/license/ -->
                      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/plato-responsive-bootstrap-website-template/ -->
                      Original Design by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                    <div class="credits">
                        Other Credits: <a href="https://icons.getbootstrap.com/">Bootstrap Icons</a>
                    </div>
                  </div>
            </footer>
        </div>
    </body>
</html>