<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Visualization</title>
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

        <link rel="stylesheet" href="../assets/css/style.css">
    </head>

    <body>
        <div class="wrap">
            <!-- Navigation -->
            <header id="header" class="d-flex align-items-center">
                <div class="container d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <h1 class="text-light"><a href="index.html"><span>Group 7</span></a></h1>
                    </div>
                
                    <nav id="navbar" class="navbar">
                        <ul>
                            <li><a href="index.html#about" class="nav-link">About</a></li>
                            <li><a href="index.html#process" class="nav-link">Our Process</a></li>
                            <li><a href="index.html#website" class="nav-link">Our Website</a></li>
                            <li class="dropdown"><a href="index.html#visualizations"><span>Visualizations</span><i class="bi bi-chevron-down"></i></a>
                                <ul>
                                    <li><a href="visual.html">Visual 1</a></li>
                                    <li><a href="#">Visual 2</a></li>
                                </ul>
                            </li>
                            <li><a href="index.html#calculator" class="nav-link">Price Calculator</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <!-- Breadcrumbs Section -->
                <section id="breadcrumbs" class="breadcrumbs">
                    <div class="container">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2>Visualization</h2>
                            <ol>
                                <li><a href="index.html">Home</a></li>
                                <li>Visualization</li>
                            </ol>
                        </div>
                    </div>
                </section>
            <!-- Visualization Details Section -->
            <section id="visual-details" class="visual-details">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-8">
                            <img src="../assets/imgs/HeaderImage.jpg" alt="">
                        </div>

                        <div class="col-lg-4">
                            <div class="visual-info">
                                <h3>Visualization Information</h3>
                                <ul>
                                    <li><strong>Dummy</strong>: Text</li>
                                    <li><strong>Dummy</strong>: Text</li>
                                    <li><strong>Dummy</strong>: Text</li>
                                    <li><strong>Dummy</strong>: Text</li>
                                </ul>
                            </div>
                            <div class="visual-description">
                                <h2>Visualization Description</h2>
                                <p>More dummy text for team to fill in later when visualizations are created.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Footer Section -->
            <footer class="footer-top section-bg">
                <div class="container py-4">
                    <div class="copyright">
                      &copy; Copyright <strong><span>Plato</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                      <!-- All the links in the footer should remain intact. -->
                      <!-- You can delete the links only if you purchased the pro version. -->
                      <!-- Licensing information: https://bootstrapmade.com/license/ -->
                      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/plato-responsive-bootstrap-website-template/ -->
                      Original Design by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                  </div>
            </footer>
        </div>
    </body>
</html>